* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  color: #fff;
  justify-content: center;
  flex-wrap: wrap;
  background: #fff;
  background: url('./city.jpg');
  background-size: cover;
}

#root {
  margin-top: 100px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  display: flex;
}

.option-toggle {
  border: 1px solid black;
  margin: 0 20px;
}
.currency {
  border: 1px solid black;
  margin: 0 20px;
}

canvas {
  border: 1px solid black;
  width: 400px;
  height: 400px;
}

.timer-container {
  /* border: 1px solid black; */
  font-size: 3rem;
  margin: 20px;
}

.timer-button {
  border: 2px solid black;
  font-size: 2rem;
  padding: 10px;
  border-radius: 10px;
}
